@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

h1 {
  font-size: 3rem;
}

.input {
  input {
    &[type='text'] {
      @apply grow;
    }

    &:focus {
      outline: 1px solid theme('colors.neutral-content/.33');
      outline-offset: 1px;
      border-radius: 4px;
    }
  }
}

.label {
  input {
    &[type='checkbox'] {
      @apply checkbox;
    }
  }
}
