@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  input {
    @apply grow;
  }

  input:focus {
    outline: 1px solid theme('colors.neutral-content/.33');
    outline-offset: 1px;
    border-radius: 4px;
  }
}
